@use "./components/icon";

@use "./components/header";
@use "./components/main-menu";
@use "./components/secondary-menu";

* {
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
}
