@use "../variables/colors";
@use "../variables/measures";

@use "../mixins/media-queries";

.main-header {
  border-bottom: 1px solid colors.$color-font-main-light;
  color: colors.$color-main;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 34px measures.$mobile-horizontal-padding;
    max-width: 480px;
    height: 120px;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
  }

  &--menu-open {
    background-color: colors.$color-main;
    color: colors.$color-font-alternative;
    border-bottom-color: colors.$color-font-alternative-dark;
  }

  @include media-queries.screen-min {
    &__container {
      padding: 0 measures.$desktop-horizontal-padding;
      max-width: 1200px;
    }
  }
}
