@use "../variables/colors";

.logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: colors.$color-main;

  &--secondary {
    padding: 0 0 25px;

    @media (min-width: 1200px) {
      font-size: 1.3rem;
    }
  }
}
