@use "../variables/colors";
@use "../variables/measures";

@use "../mixins/media-queries";

.main-menu {
  position: absolute;
  top: measures.$header-height;
  right: 0;
  display: none;
  width: 100%;
  min-height: 100vh;
  background-color: colors.$color-main-dark;
  border-top: 1px solid colors.$color-font-alternative-dark;

  &--open {
    display: flex;
    flex-direction: column;
  }

  &__links {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: measures.$mobile-max-width;
    list-style: none;

    @include media-queries.screen-min {
      max-width: measures.$desktop-max-width;
    }
  }

  &__link {
    cursor: pointer;
    display: block;
    padding: 25px measures.$mobile-horizontal-padding;
    width: 100%;
    border: none;
    background-color: colors.$color-main-dark;
    font-size: 1rem;
    color: colors.$color-font-alternative;
    text-align: left;
    text-decoration: none;

    &:hover {
      background-color: colors.$color-main;
    }

    @include media-queries.screen-min {
      padding: 25px measures.$desktop-horizontal-padding;
    }
  }
}
