@use "../variables/colors";
@use "../variables/measures";

.main-content {
  border-top: 1px solid colors.$color-font-main-light;
}

.search_results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: colors.$color-font-alternative-dark;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

.search-box {
  padding: 60px measures.$mobile-horizontal-padding;
  width: 480px;

  &__filters {
    background-color: colors.$color-main-dark;
    border-radius: 20px;
    padding: 42px 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__filter {
    font-family: Poppins, sans-serif;
    font-size: 1rem;

    &-description {
      color: colors.$color-font-alternative;
      margin: 10px 0;
    }

    &-action {
      font-family: Poppins, sans-serif;
      width: 100%;
      height: 65px;
      border-radius: 20px;
      border-style: none;
      padding: 0 24px;
      font-size: 1rem;
      text-align: left;
      display: flex;
      gap: 10px;
      align-items: center;

      & span {
        flex: 1;
      }
    }
  }

  &::placeholder {
    color: colors.$color-font-main-dark;
  }
}
