@use "../variables/colors";
@use "../variables/measures";

@use "../mixins/media-queries";

@use "../partials/menu-link";

.secondary-menu {
  background-color: colors.$color-main;

  &--light {
    background-color: inherit;
    display: none;

    @include media-queries.screen-min {
      display: block;
      background-color: none;
      color: colors.$color-font-main-light;
    }

    & .secondary-menu__title {
      color: colors.$color-font-main-dark;
      font-size: 1.3rem;
      padding: 0 0 25px;
    }
    & .secondary-menu__link {
      color: colors.$color-font-main-light;
      padding: 5px 0;
    }
    & .secondary-menu__link:hover {
      background-color: inherit;
    }
  }

  &__title {
    background-color: inherit;
  }

  &__links {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    &--closed {
      display: none;
    }

    &__footer-information {
      background-color: inherit;
      font-size: 0.5rem;
    }
  }

  &__link {
    @extend menu-link;
  }
}
