@use "../variables/colors";
@use "../variables/measures";

@use "../mixins/media-queries";

@use "../partials/menu-link";

.secondary-menu {
  background-color: colors.$color-main;

  &--light {
    background-color: inherit;
    display: none;
  }

  &__title {
    background-color: inherit;
  }

  &__links {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    &--closed {
      display: none;
    }

    &__footer-information {
      background-color: inherit;
      font-size: 0.5rem;
    }
  }

  &__link {
    @extend menu-link;
  }
}
