$color-main: #5f2eea;
$color-accent: #ed2e7e;
$color-warn: #c30052;
$color-hint: #00966d;

$color-font-main: #4e4b66;
$color-font-main-light: #6e7191;
$color-font-main-dark: #000;

$color-font-alternative: #f3efff;
$color-font-alternative-dark: #bca4ff;
